.app-container {
  .app-header {
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    .header-left {
      line-height: 22px;
      text-align: center;
      border-right: 1px solid #ebedf0;
      margin-top: 20px;
  }
    .header-right {
      display: flex;
      justify-content: space-between;
      padding-left: 16px;
    }
    .search-box {
      flex-grow: 3;
    }
    .search-icon {
      color: #ced4d9;
    position: relative;
    top: .5px;
    cursor: pointer;
    }
    .search-input {
      margin-left: 5px;
      border: 0;
    }
    
  }
}